# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=DCT Core
Comment=DCT Core QT test network
GenericName=DCT Digital Currency QT client testnet network
Exec=idchaincoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/idchaincoin_testnet.png
MimeType=x-scheme-handler/heirs;
Categories=X-Office;X-Finance;
Keywords=internet;idchaincoin;theirs;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
